
<app-navigation></app-navigation>
<div class="container">
<a routerLink="/new"  class='btn btn-primary'>Add Comparison</a>
<!--Input data sets

<span class="mb-4"></span>
  <div class="row" *ngFor="let input of inputSets">
    <app-input-set [inputSet]="input"></app-input-set>
  </div>-->
<br>
Results:
<ul class="list-group m-4">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</div>
